//-
   Author: Nina Stawski
   Contact: me@ninastawski.com
extends layout
block style
    link(href='static/css/prpr-mf.css', rel='stylesheet')

block script
    script(src='static/js/jsPlumb.min.js')
    script(src='static/js/prpr-mf.js')
    script
        var grid = [45,45]
        var renamed = [];
        $(document).ready(function () {
            $(document).bind('touchmove', function(e) {
                e.preventDefault();
            }, false);
            //$('#field').selectable( {distance : 30} );
            var counter = 0;
            $('#wellSrc').draggable({
                helper: "clone",
                grid: grid
            });

            $('#field').droppable({
                accept: "#wellSrc",
                drop: function(event, ui) {
                    var clone = $('#wellSrc').clone(false);
                    var top = ui.helper.position()['top'];
                    var left = ui.helper.position()['left'];
                    var id = 'id' + counter;
                    clone.attr({ 'id': id, 'name': id }).css({'top' : top, 'left' : left, 'position' : 'absolute'}).addClass('mf-well').appendTo('#field');
                    makeDraggable(id);
                    addEndpoint(id);
                    counter += 1;
                }
            });

            jsPlumb.bind("dblclick", function(connection, originalEvent) {
                jsPlumb.detach({
                    source: connection.sourceId,
                    target: connection.targetId
                });
            });

            jsPlumb.importDefaults({
                PaintStyle: { lineWidth : 5, strokeStyle : "#456" },
                ConnectorZIndex: 3
            });
        });

block content
    #source
        .prpr-well.x4x6.mf#wellSrc
        form#mffile.pull-right
            .btn(onclick="getMFTableFile();") Download table file

    .wells#field(style="height: 400px; border: 1px solid #456;")
    //-textarea#result
    .pull-right
        input#mfdata.span3(type="file", name="mfdata", onchange="mfAppendLoadButton()")