//-
   Author: Nina Stawski
   Contact: me@ninastawski.com
extends layout
block style
    link(href='static/css/prpr-mf.css', rel='stylesheet')
block script
    script(src='static/js/jsPlumb.min.js')
    script
        $(document).ready(function () {
            var counter = 0;
            var grid = [45,45]
            $('#wellSrc').draggable({
                helper: "clone",
                grid: grid
            });
            $('#field').droppable({
                accept: "#wellSrc",
                drop: function(event, ui) {
                    var clone = $('#wellSrc').clone(false);
                    var top = ui.helper.position()['top'];
                    var left = ui.helper.position()['left'];
                    clone.attr('id', counter).css({'top' : top, 'left' : left, 'position' : 'absolute'}).addClass('mf-well').appendTo('#field');
                    $('#' + counter).draggable({
                        drag: function(event, ui) {
                            jsPlumb.repaintEverything();
                        },
                        stop: function(event, ui) {
                            jsPlumb.repaintEverything();
                        },
                        grid: grid
                    });
                    jsPlumb.addEndpoint('' + counter + '', {
                            anchor: [0.5,0.5,0,-1],
                            maxConnections: 20,
                            connector: "Straight"
                        },
                        {
                            isSource:true,
                            isTarget:true
                        });
                    counter += 1;
                }
        });
        jsPlumb.bind("dblclick", function(connection, originalEvent) {
            jsPlumb.detach({
                source: connection.sourceId,
                target: connection.targetId
            });
            });
        jsPlumb.importDefaults({
            PaintStyle: { lineWidth : 5, strokeStyle : "#456" }
        });
        });

        function getConnectionInfos() {
            var wells = [];
            var connections = jsPlumb.getConnections();
            for (i = 0; i < connections.length; i++) {
                var connection = connections[i];
                var src = connection.sourceId;
                var dst = connection.targetId;
                if (wells[src]) {
                    wells[src].push(dst);
                }
                else {
                    wells[src] = [dst];
                };
                if (wells[dst]) {
                    wells[dst].push(src);
                }
                else {
                    wells[dst] = [src];
                };
            }
            var connections = [];
            for (var i = 0; i < Object.keys(wells).length; i++) {
                var well = Object.keys(wells)[i];
                if(wells[well]) {
                    var wellinfo = well + ':';
                    for (var k = 0; k < wells[well].length; k++) {
                        var conn = wells[well][k];
                        wellinfo += conn;
                        if (k != wells[well].length - 1) {
                            wellinfo += ',';
                        }
                    }
                    connections.push(wellinfo);
                }
            };
            return connections;
        };

        function getPositionString() {
            var position = '';
            $('.mf-well').each(function() {
                var id = this.id;
                var top = $('#' + id).position()['top'];
                var left = $('#' + id).position()['left'];
                position += (id + ':' + top + ',' + left + ';');
            });
            return position ;
        };

        function getMFTableFile() {
            var position = getPositionString();
            var wells = getConnectionInfos();
            console.log(position);
            console.log(wells, Object.keys(wells));
            var formData = new FormData();
            formData.append("position", position);
            formData.append("wells", JSON.stringify(wells));
            $.ajax({
                url: 'mfplates',
                type: 'POST',
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success: function(data) {
                    $('#result').html(data);
                }
            });
        };

block content
    #source
        .prpr-well.x4x6.mf#wellSrc
        .pull-right.btn(onclick="getMFTableFile();") Download table file

    .wells#field(style="height: 400px; border: 1px solid #456;")
    textarea#result