//-
   Author: Nina Stawski
   Contact: me@ninastawski.com
doctype 5
html(xmlns="http://www.w3.org/1999/xhtml")
    head
        include inc/header.jade
    body
        .container
            block content
            include inc/footer.jade