//-
   Author: Nina Stawski
   Contact: me@ninastawski.com
extends layout
block style
    link(href='static/css/prpr-dev.css', rel='stylesheet')
block script
    script(src='static/js/prpr-dev.js')
    script(src='static/js/jsPlumb.min.js')
    script
        $(document).ready(function() {
            $('#plate').selectable({
                filter: '.prpr-well',
                distance: 20,
                stop: function() {
                    for (var w = 0; w < $('.ui-selected:not(".prpr-well-taken")').length; w++) {
                        var wellID = $('.ui-selected:not(".prpr-well-taken")').eq(w).attr('id').substring(4);
                        fillWell(wellID);
                    }
                }
            });
        });

block content
    .row
        div
            h3 Plate:
                span#plate-name PL1
    .row.well
        .span6
            select#plateSize(onchange="prprSelected();")
                option(value="4x6") 24 well plate (4x6)
                option(value="8x12") 96 well plate (8x12)
                option(value="16x24") 384 well plate (16x24)
        .span6
            #plate.prpr-plate.prpr-grid.grid-active.grid-plate
                script
                    createPlates(4,6);
        .span5
            #wellInfo.span5
                #loc
                    #componentLocation.hidden
                    input#componentName.input-xlarge.span5(type="text")
                .btn-toolbar
                    .btn-group
                        #addnew.btn.btn-info(onClick="addNew();") Add new
                        .btn(onClick="cancel();") Cancel
                    .btn-group.pull-right
                        #delete.btn.btn-danger.disabled(onClick="deleteComponent();") Delete
                        #startover.btn.btn-danger(onClick="clearAll();") Start over
            .span5
                #components.well(style="margin-top: 10px;")
                div
                    textarea#prpr.input-xlarge.span5(rows="7")