//-
   Author: Nina Stawski
   Contact: me@ninastawski.com
   Version: 0.7

    prpr.js, a part of PR-PR (previously known as PaR-PaR), a biology-friendly language for liquid-handling robots
    Author: Nina Stawski, nstawski@lbl.gov, me@ninastawski.com
    Copyright 2012-2013, Lawrence Berkeley National Laboratory
    http://github.com/JBEI/prpr/blob/master/license.txt

extends layout

block style
    link(href='static/css/prpr-mf.css', rel='stylesheet')

block script
    script(src='static/js/jsPlumb.min.js')
    script(src='static/js/prpr-mf.js')
    script
        var grid = [45,45];
        var renamed = [];
        $(document).ready(function () {
            $('#myModal').children().disableSelection();
            selectDevice('tecan');
            $(document).bind('touchmove', function(e) {
                e.preventDefault();
            }, false);

            var tablesList = {{!tables}};
            createTablesList(tablesList);
            
            var languages = {{!languages}};
            
            var selected = '{{selected}}';
            
            if (selected == 'tecan') {
                selectDevice('tecan');
                createTablesList(tablesList);
            } else if (selected == 'microfluidics') {
                selectDevice('microfluidics');
            } else if (selected == 'microscope') {
                selectDevice('microscope');
            } else if (selected == 'human') {
                selectDevice('human');
            };
            
            $('#platform-tecan').click(function() {
                selectDevice('tecan');
                createTablesList(tablesList);
            });
            
            $('#platform-microfluidics').click(function() {
                selectDevice('microfluidics');
                createTablesList(tablesList);
            });
            
            $('#platform-microscope').click(function() {
                selectDevice('microscope');
            });
            
            $('#platform-human').click(function() {
                selectDevice('human', languages.sort());
            });
            //$('#platform-human').addClass('disabled');
            
            $('#myModal').on('shown', function() {
                if ($('#deviceselect').val() == 'microfluidics') {
                    jsPlumb.repaintEverything();
                }
            });

            var alertError = {{!alerterror}};
            var alertSuccess = {{!alertsuccess}};

            if (alertError.length > 0) {
                errors = removeDuplicates(alertError);
                for (var err in errors) {
                    //noinspection JSUnfilteredForInLoop
                                                //-                    $('#form').before('<div class="alert alert-error">' +
                    $('#result').append('<div class="alert alert-error">' +
                            '<button class="close" data-dismiss="alert">×</button>' +
                            alertError[err] + '</div>');
                }
            }

            if (alertSuccess.length > 0) {
                results = removeDuplicates(alertSuccess);
                for (var success in results) {
                    //noinspection JSUnfilteredForInLoop
                    $('#result').append('<form action="/download/{{file}}" class="form-inline">' +
                            '<div class="alert alert-success ">' +
                            alertSuccess[success] +
                            '&nbsp;&nbsp;&nbsp;&nbsp;' +
                            '<button class="btn {{btn}}">Download&nbsp;{{file}}</button>' +
                            '</div></form>');
                }
            }
        })

block content
    .row
        .span7
            h2 Welcome to
                nobr
                    img(src="static/img/favicon.ico", alt="PR-PR favicon")>
                    | PR-PR!
        .span5
            .pull-right
                a.label.label-info(href="mailto:nstawski@lbl.gov?subject=PR-PR%20v.{{version}}%20feedback") Version {{version}}
            .pull-right
                a(href="http://pubs.acs.org/doi/abs/10.1021/sb300075t") 2013 paper
                | &nbsp;&nbsp;::&nbsp;&nbsp;
                a(href="http://pubs.acs.org/doi/abs/10.1021/sb4001728") 2014 paper
                | &nbsp;&nbsp;::&nbsp;&nbsp;
                a(href="/copyright") Copyright
                | &nbsp;&nbsp;::&nbsp;&nbsp;
                a(href="/disclaimer") Disclaimer
                | &nbsp;&nbsp;::&nbsp;&nbsp;
                a(href="https://github.com/JBEI/prpr") Get code
                | &nbsp;&nbsp;::&nbsp;&nbsp;

    .row
        .span7
            p A new simple way to do your experiments faster.<br/>Write your code in the window below, add a table file and click 'Prepare robot file'.<br/>The resulting file will be available for you to download on the right.
        .span3.pull-right
            p
                a(href="static/pdf/PR-PR-v0.33-howto.pdf").pull-right
                    h5
                        img(src="static/img/question.svg")
                        | &nbsp;&nbsp;PR-PR Howto guide (PDF)
    form#form(action="/getconfig", method="post", enctype="multipart/form-data", onsubmit="saveConnections();")
        .row
            .span8
                ol
                    li#device
                        h4 Select output device
                        .controls#device
                            input#deviceselect(name="deviceselect").hidden
                            .btn-group#prpr-platform
                                .btn#platform-tecan Tecan (Genesis and Evo)
                                .btn#platform-microfluidics Microfluidics
                                .btn#platform-microscope Microscope
                                .btn#platform-human Human
                            a#methodsToggle.btn.btn-link(data-toggle="modal", href="#settings", onClick="displayDefaults();"): i.icon-cog
                    li#tablefile
                        h4 Select/upload table file
                        .controls#table
                            select#tables.span3(name="tableselect", onchange="selectClicked('table');")
                                option(value="select") Select table file
                            input#data.span3(type="file", name="data", onchange="recognizeFile();")
                    li#script
                        h4 Write script &nbsp;&nbsp;
                            small: a#sampleScript(onclick="LoadSampleScript()") load example
                input#position.hidden(name='position', hidden)
                input#wells.hidden(name='wells', hidden)
                input#language.hidden(name='language', hidden)
        .row
            .span12
                #result
                textarea#textarea.input-large.span12(rows="30", name="text") {{text}}
                #btns.pull-right
                    button.btn(type="submit", name="upload", onclick="$('.alert').remove();") Prepare file

            #myModal.modal.hide.prpr-modal
                .modal-header
                    button.close(type="button", data-dismiss="modal") ×
                    h3#platename Plate file name
                .modal-body
                    #tablerow
                .modal-footer
                    a.btn.pull-right(data-dismiss="modal", id="button-close-modal") Close popup
            #settings.modal.hide.prpr-modal
                .modal-header
                    button.close(type="button", data-dismiss="modal") ×
                    h3#modalName Platform settings
                .modal-body
                    .row-fluid
                        .span6
                            #methods
                                h5 Custom methods
                                .input-append#newMethod
                                    input#userMethod(size="16", type="text")
                                    button.btn(type="button", onclick="customizeMethods();") Add
                            #defaultMethods
                                h5 Default Methods
                        .span6
                            #plates
                                h5 Custom Plates
                                .input-append#newPlate
                                    input#userPlateName.input-large(type="text")
                                    input#userPlateRows.input-micro.input-mid(type="text")
                                    input#userPlateCols.input-micro.input-mid(type="text")
                                    button.btn(type="button", onclick="customizePlates();") Add
                            #defaultPlates
                                h5 Default Plates
                .modal-footer
                    a.btn.pull-right(data-dismiss="modal", id="button-close-modal") Close popup
            textarea#methodsList.hidden(name="methods")




    footer
        p If you have questions or comments, email <a href="mailto:me@ninastawski.com?subject=PR-PR%20v.{{version}}%20feedback">Nina Stawski</a>
        p
            small(style="color:gray") This programming language was previously known as "PaR-PaR", which is not associated with PaR Systems, Inc. which claims ownership of the "PaR" mark.
