prpr.db
esc/
incoming/
logs/
tables/
parpar.wsgi
ppserver.wsgi
pages/page_dev.html
prpr_dev.par
static/css/prpr-dev.css
static/js/prpr-dev.js
.idea/
prpr.iws
static/diva/
pages/dev.html
pages/dev-mf.html
jade/dev-mf.jade
jade/dev.jade
jade/page_dev.jade
coffee/
sqlitejdbc-v056.jar
zentus-sqlite-license.txt
.DS_Store
*.pyc
__pycache__