.parpar-well {
    border: 1px solid #001E96;
    background: #70B1C9;
    display: inline-block;
    height: 60px;
    width: 60px;
    -webkit-border-radius: 50%;
    margin: 4px;
}

.legend-well {
    border: 1px solid #001E96;
    background: #70B1C9;
    -webkit-border-radius: 50%;
    height: 30px;
    width: 30px;
}

.parpar-well-filled {
    background: #006098;
}

.parpar-well-taken {
    background-image: url('../../static/img/well-bg.png');
}

.parpar-row {
    display: block;
}
.parpar-plate {
    height: 288px;
    width: 420px;
    -webkit-border-radius: 12px;
    padding: 15px;
}