//-
   Author: Nina Stawski
   Contact: me@ninastawski.com

meta(charset="utf-8")
title PR-PR Laboratory Automation Platform
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="description", content=)
meta(name="author", content=)
link(href='static/css/bootstrap.css', rel='stylesheet')
link(href='static/css/responsive.css', rel='stylesheet')
link(href='static/css/prpr.css', rel='stylesheet')
link(href='static/css/jquery-ui.css', rel='stylesheet')

//if lt IE 9
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')

block scripts
    script(src='static/js/jquery.min.js')
    script(src='static/js/jquery-ui.min.js')
    script(src='static/js/jquery.ui.touch.js')
    script(src='static/js/prpr.js')
link(href='static/img/favicon.ico', rel='shortcut icon')
block script
block style
include analytics.jade